<div class="container">
  <div class="jumbotron" style="align-content: left;">
    <br>
    <br>
    <h1 class="display-8" style="padding-left: 6%"> Projects</h1> 

    <div style="display: flex;">
        <br>
        <div class="card" style="width: 18rem;margin-left: 5%;">
                <img class="card-img-top" src="assets/Content/blur-bud-cannabis-1466335.jpg" alt="Know Cannabis">
                <div class="card-body">
                  <h5 class="card-title">Know Cannabis</h5>
                  <p class="card-text">An App for Canadians to Learn about Cannabis</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">API</li>
                  <li class="list-group-item">C#</li>
                  <li class="list-group-item">Swagger</li>
                </ul>
                <div class="card-body">
                  <a href="https://github.com/samsauhard/CannabisWeb" class="card-link">Github</a>
                  
                </div>

              </div>
              <div class="card" style="width: 18rem;margin-left: 4%;">
                    <img class="card-img-top" src="assets/Content/ai-codes-coding-97077.jpg" alt="Scrape Therapists">
                    <div class="card-body">
                      <h5 class="card-title">Scrape Data</h5>
                      <p class="card-text">Scrape the list of all the therapists in France</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Python</li>
                      <li class="list-group-item">Selenium Webdriver</li>
                      <li class="list-group-item">URL LIB</li>
                    </ul>
                    <div class="card-body">
                      <a href="https://github.com/samsauhard/scrape-therapists" class="card-link">Github</a>
                      
                    </div>

                  </div>

                  <div class="card" style="width: 18rem;margin-left: 4%;">
                        <img class="card-img-top" src="assets/Content/art-blue-skies-clouds-335907.jpg" alt="Know Cannabis">
                        <div class="card-body">
                          <h5 class="card-title">AWS Lambda</h5>
                          <p class="card-text">An Image Rekognition Program to Tag Images</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">AWS</li>
                          <li class="list-group-item">Lambda</li>
                          <li class="list-group-item">Image Rekognition</li>
                        </ul>
                        <div class="card-body">
                          <a href="https://github.com/samsauhard/AWS_Lambda_ImageRekog" class="card-link">Github</a>
                          
                        </div>
    
                      </div>

                    


   
</div>
</div>