<div class="container">
    <div class="jumbotron">
    <div class="container-fluid text-center">
              <h2>SERVICES</h2>
              <h4>Offered by Me</h4>
              <br>
              <div class="row">
                <div class="col-sm-4">
                  <span class="glyphicon glyphicon-off"></span>
                  <h4>MEAN/MERN Stack development</h4>
                  <p>MongoDB, Express, Angular/React and Node is in trend these days.I provide high quality development using MEAN/MERN stack</p>
                </div>
                <div class="col-sm-4">
                  <span class="glyphicon glyphicon-heart"></span>
                  <h4>Java</h4>
                  <p>Getting a old style secure and easy application is what java applicaions are famous for.</p>
                </div>
                <div class="col-sm-4">
                  <span class="glyphicon glyphicon-lock"></span>
                  <h4>Python Scripts</h4>
                  <p>Get you tasks automated by me just with few lines of code using pthon</p>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-sm-4">
                  <span class="glyphicon glyphicon-leaf"></span>
                  <h4>Hardware Codes</h4>
                  <p>Get your robot working according to your requirements. Especially with Raspberry Pi.</p>
                </div>
                <div class="col-sm-4">
                  <span class="glyphicon glyphicon-certificate"></span>
                  <h4>C++</h4>
                  <p>Fast and Easy Code to build complex applications.</p>
                </div>
                <div class="col-sm-4">
                  <span class="glyphicon glyphicon-wrench"></span>
                  <h4 style="color:#303030;">RAP</h4>
                  <p>Check on the Stripes Yea.  on the Stripes Yea. Thats what I like yea. what I like yea.</p>
                </div>
              </div>
            </div>
  </div>
</div>
