
<div class="container">
      <div class="jumbotron" style="align-content: left;">
      <h1 class="display-8" style="padding-left: 6%"> Documents</h1> 
        <br>
        <br>
        <div style="display: flex;">
            <br>
            <div class="card" style="width: 18rem;margin-left: 5%;">
                    <img class="card-img-top" src="assets/Content/bookcase-books-bookshelves-159711.jpg" alt="Educational Documents">
                    <div class="card-body"  style ="display: inline-table;">
                      <h5 class="card-title">Educational Documents</h5>
                      <p class="card-text">Link to All the Documents</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="assets/Content/D (1).jpg" class="card-link">Marksheet 1</a></li>
					   <li class="list-group-item"><a href="assets/Content/D (2).jpg" class="card-link">Marksheet 2</a></li>
					    <li class="list-group-item"><a href="assets/Content/D (3).jpg" class="card-link">Marksheet 3</a></li>
						 <li class="list-group-item"><a href="assets/Content/D (4).jpg" class="card-link">Marksheet 4</a></li>
						  <li class="list-group-item"><a href="assets/Content/D (5).jpg" class="card-link">Marksheet 5</a></li>
						   <li class="list-group-item"><a href="assets/Content/D (6).jpg" class="card-link">Marksheet 6</a></li>
						    <li class="list-group-item"><a href="assets/Content/D (7).jpg" class="card-link">Marksheet 7</a></li>
							 <li class="list-group-item"><a href="assets/assets/assets/Content/D (8).jpg" class="card-link">Marksheet 8</a></li>
							  <li class="list-group-item"><a href="assets/Content/D (9).jpg" class="card-link">Marksheet High School</a></li>
							   <li class="list-group-item"><a href="assets/Content/D (11).jpg" class="card-link">Marksheet Secondary School</a></li>
							   <li class="list-group-item"><a href="assets/Content/D (10).jpg" class="card-link">B.Tech Degree</a></li>
                    </ul>


                  </div>
                  <div class="card" style="width: 18rem;margin-left: 4%;">
                        <img class="card-img-top" src="assets/Content/adidas-ball-field-46798.jpg" alt="Scrape Therapists">
                        <div class="card-body" style ="display: inline-table;">
                          <h5 class="card-title">Sports Certificates</h5>
                          <p class="card-text">All Sport Certificates</p>
                        </div>
                        <ul class="list-group list-group-flush">
                         <li class="list-group-item"><a href="assets/Content/S (1).jpg" class="card-link">Sports</a></li>
                         <li class="list-group-item"><a href="assets/Content/S (2).jpg" class="card-link">Sports</a></li>
                          <li class="list-group-item"><a href="assets/Content/S (3).jpg" class="card-link">Sports</a></li>
                        </ul>
                        <div class="card-body">
                  
                          
                        </div>
    
                      </div>

                      <div class="card" style="width: 18rem;margin-left: 4%;">
                            <img class="card-img-top" src="assets/Content/close-up-contract-document-48148.jpg" alt="Know Cannabis">
                            <div class="card-body"  style ="display: inline-table;">
                              <h5 class="card-title">Other Certificates</h5>
                              <p class="card-text">Certificates for additional participation in other activities</p>
                            </div>
                            <ul class="list-group list-group-flush">
                               <li class="list-group-item"><a href="Content/O (1).jpg" class="card-link">Others</a></li>
							     <li class="list-group-item"><a href="assets/Content/O (2).jpg" class="card-link">Others</a></li>
								   <li class="list-group-item"><a href="assets/Content/O (3).jpg" class="card-link">Others</a></li>
								     <li class="list-group-item"><a href="assets/Content/O (4).jpg" class="card-link">Others</a></li>
									   <li class="list-group-item"><a href="assets/Content/O (5).jpg" class="card-link">Others</a></li>
									     <li class="list-group-item"><a href="assets/Content/O (6).jpg" class="card-link">Others</a></li>
                            </ul>
                            <div class="card-body">
                            
                            </div>
        
                          </div>

                        


       
    </div>
</div>
